<h1>Triangle Tester:</h1>
<form action="/display">
<hr>
<label for="first_side">Type in your first triangle side here:</label>
<input id="first_side" name="first_side" type="text"/>
<hr>
<label for="second_side">Type in your second triangle side here:</label>
<input id="second_side" name="second_side" type="text"/>
<hr>
<label for="third_side">Type in your third triangle side here:</label>
<input id="third_side" name="third_side" type="text"/>
<hr>
<button class="btn btn-primary" type="submit">Submit</button>
</form>
