<h1>Parcel Calculator:</h1>
<form action="/output">
<hr>
<label for="length">Type in the length of your parcel:</label>
<input id="length" name="length" type="text"/>
<hr>
<label for="width">Type in the width of your parcel:</label>
<input id="width" name="width" type="text"/>
<hr>
<label for="height">Type in the height of your parcel:</label>
<input id="height" name="height" type="text"/>
<hr>
<label for="distance">Type in the distance:</label>
<input id="distance" name="distance" type="text"/>
<hr>
<button class="btn btn-primary" type="submit">Submit</button>
</form>
